fastapi
uvicorn
requests
loguru
pdf2image
easyocr
langchain
gunicorn==21.2.0
google-cloud
google-api-python-client
google-generativeai
google-cloud-vision
pymongo
grpcio
grpcio-tools
python-multipart==0.0.6
pandas==1.5.3
joblib==1.2.0
plotly
reportlab
kaleido
typing
